[Unit]
Description=ClipForge API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/clipforge_new/backend
ExecStart=uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10
StandardOutput=append:/home/ubuntu/clipforge_new/server.log
StandardError=append:/home/ubuntu/clipforge_new/server.log

[Install]
WantedBy=multi-user.target
